/* Add any specific styles for the calendar view here */

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

mat-form-field {
  flex: 1;
}

.calendar-card {
  width: 30%;
}

[cdkDropList] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
